# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=xxxx
SUPABASE_SERVICE_ROLE_KEY=xxxx

# Telegram
TELEGRAM_BOT_TOKEN=xxxx:yyyy
TELEGRAM_CHANNEL_ID=@vacumqinvest

# Webhook
WEBHOOK_SECRET=sua_chave_secreta_aqui
